.avpvh-gallery-container {
	margin-bottom: 1em;
}

.avpvh-gallery {
	margin: 1em auto 0;
}

.avpvh-grid-a {
	box-shadow: none !important; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.avpvh-grid-square {
	background-position: center;
	background-size: cover; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.avpvh-exif-overlay {
	background-color: #000;
	background-color: rgb(0, 0, 0, 65%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	bottom: 0;
	color: #fff;
	font-size: 11px;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 5px 8px;
	position: absolute;
	right: 0;
	text-overflow: ellipsis;
	transition: opacity 0.2s ease; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	white-space: nowrap;
}

.avpvh-grid-a:hover .avpvh-exif-overlay {
	opacity: 1;
}

.avpvh-exif-filename {
	font-weight: bold;
}

.avpvh-exif-data {
	font-weight: normal;
	margin-top: 2px;
}

.avpvh-grid-a:hover .avpvh-exif-overlay {
	cursor: copy;
}

.avpvh-grid-img {
	box-shadow: none !important; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	display: block;
	height: 100% !important;
	object-fit: cover !important; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	object-position: center !important; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	width: 100% !important;
}

.avpvh-dir-overlay {
	background-color: #7f7f7f;
	background-color: rgb(0, 0, 0, 50%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
}

.avpvh-dir-counts {
	font-size: 0.8em;
}

.avpvh-count-icon {
	vertical-align: sub;
}

.avpvh-count-icon-indent {
	margin-left: 15px;
}

.avpvh-dir-icon {
	background: #f0f0f0;
	display: block;
}

.avpvh-loading,
.avpvh-loading div {
	border-radius: 50%; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.avpvh-loading {
	background-color: #9b9b9b;
	background-color: rgb(130, 130, 130, 80%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	box-shadow: 0 0 2.5em #b3b3b3; /* 40 */ /* stylelint-disable-line plugin/no-unsupported-browser-features */
	box-shadow: 0 0 2.5em rgb(130, 130, 130, 60%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	box-sizing: content-box; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	margin: 10px auto;
	padding: 0.65em;
	width: 1.3em;
}

.avpvh-loading div {
	animation: avpvh-loading 0.5s ease infinite; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	background-color: #fff;
	height: 1.3em;
}

@keyframes avpvh-loading {

	0% {
		opacity: 0.5; /* stylelint-disable-line plugin/no-unsupported-browser-features */
		transform: scale(0.75); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	}

	50% {
		opacity: 1; /* stylelint-disable-line plugin/no-unsupported-browser-features */
		transform: scale(1); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	}

	100% {
		opacity: 0.5; /* stylelint-disable-line plugin/no-unsupported-browser-features */
		transform: scale(0.75); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	}
}

.avpvh-more-button {
	margin-top: 27px;
	text-align: center;
}

.avpvh-more-button div {
	background-color: #7f7f7f;
	background-color: rgb(0, 0, 0, 50%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	border-radius: 2px; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	color: #fff;
	cursor: pointer;
	display: inline;
	padding: 10px 15px;
}

.avpvh-notice-error {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #d63638;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgb(0, 0, 0, 4%);
	padding: 1px 12px;
}

.avpvh-pswp-path {
	background-color: rgb(0, 0, 0, 50%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	color: #fff;
	cursor: copy;
	font-size: 13px;
	left: 0;
	padding: 8px 60px;
	pointer-events: all; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 1px 2px rgb(0, 0, 0, 60%); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	top: 44px;
	transition: opacity 0.2s ease; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.avpvh-pswp-caption {
	bottom: 0;
	color: #fff;
	font-size: 14px;
	left: 0;
	padding: 12px 60px;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 1px 2px rgb(0, 0, 0, 60%);
}

.avpvh-pswp-video {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.avpvh-pswp-video video {
	max-height: 100%;
	max-width: 100%;
}
